.image-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
}

    /* Default image style */
.responsive-hero-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transition: all 0.3s ease;
}

    /* Default desktop sizes */
.svg-welcome {
    font-size: 90px;
}
  
.svg-subtitle {
    font-size: 30px;
}

    /* Zoomed-in vertical mobile style */
@media (max-width: 600px) {
    .image-container {
        height: 650px;
        margin-left: auto;
        margin-right: auto;
    }

    .responsive-hero-image {
        object-fit: cover;
        object-position: center top;
        object-position: 30% top; 
    }
    .svg-welcome {
        font-size: 200px; /* larger for mobile */
    }
    
    .svg-subtitle {
        font-size: 56px; /* slightly larger */
    }
}

  /* Styles for Card */
.perspective {
    perspective: 1000px;
}
.transform-style-preserve-3d {
    transform-style: preserve-3d;
}
.backface-hidden {
    backface-visibility: hidden;
}
.rotate-y-180 {
    transform: rotateY(180deg);
}

  