.image-container {
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
    }

    /* Default image style */
    .responsive-hero-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transition: all 0.3s ease;
    }

    /* Zoomed-in vertical mobile style */
    @media (max-width: 600px) {
    .image-container {
        height: 650px;
    }

    .responsive-hero-image {
        object-fit: cover;
        object-position: center top;
        object-position: 30% top; 
    }
    }

  /* Styles for Card */
.perspective {
    perspective: 1000px;
}
.transform-style-preserve-3d {
    transform-style: preserve-3d;
}
.backface-hidden {
    backface-visibility: hidden;
}
.rotate-y-180 {
    transform: rotateY(180deg);
}
  
  