.image-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
}

    /* Default image style */
.responsive-hero-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transition: all 0.3s ease;
}

    /* Default desktop sizes */
.svg-welcome {
    font-size: 90px;
}
  
.svg-subtitle {
    font-size: 30px;
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-up {
    animation: fadeInUp 1.2s ease-out forwards;
    opacity: 0; /* start hidden */
  }

    /* Zoomed-in vertical mobile style */
@media (max-width: 600px) {
    .image-container {
        height: 88vh; /* fill entire screen height */
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }

    .responsive-hero-image {
        object-fit: cover;
        object-position: center top;
        object-position: 35% top; 
    }
    .svg-welcome {
        font-size: 250px; /* larger for mobile */
    }
    
    .svg-subtitle {
        font-size: 65px; /* slightly larger */
    }
}

  /* Styles for Card */
.perspective {
    perspective: 1000px;
}
.transform-style-preserve-3d {
    transform-style: preserve-3d;
}
.backface-hidden {
    backface-visibility: hidden;
}
.rotate-y-180 {
    transform: rotateY(180deg);
}

  